/* ==========================================================================
Main page styles
========================================================================== */
.fondo {
  background-image: url('../../../content/images/innova.png');
  display: inline-block;
  background-repeat: no-repeat;

  width: 400px;
  height: 400px;
  background-size: contain;
  position: relative;
  align-items: end;
}
