.innova {
  background-image: url('../../../content/images/logo.png');
  display: inline-block;
  background-repeat: no-repeat;
  width: 200px;
  height: 70px;
  background-size: contain;
  border-radius: 10px;
}
